<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
    <h2 class="text-2xl font-bold mb-6 text-center text-indigo-600">Cadastrar Carro</h2>

    <form [formGroup]="carroForm" (ngSubmit)="cadastrarCarro()">

      <!--Marca -->
      <div class="mb-4">
        <app-list-marca (marcaSelecionado)="onMarcaSelecionado($event)"></app-list-marca>
        <div *ngIf="carroForm.get('modeloId')?.invalid && carroForm.get('modeloId')?.touched"
          class="text-red-500 text-sm mt-1">
          A marca é obrigatório.
        </div>
      </div>


      <!--Modelo -->
      <div class="mb-4">
        <app-list-modelos (modeloSelecionado)="onModeloSelecionado($event)"></app-list-modelos>
        <div *ngIf="carroForm.get('modeloId')?.invalid && carroForm.get('modeloId')?.touched"
          class="text-red-500 text-sm mt-1">
          O modelo é obrigatório.
        </div>
      </div>

      <!-- Kilometragem -->
      <div class="mb-4">
        <label class="block text-gray-700 mb-2">Kilometragem</label>
        <input formControlName="kmAdicionado" type="number"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400" required>
        <div *ngIf="carroForm.get('km')?.invalid && carroForm.get('km')?.touched" class="text-red-500 text-sm mt-1">
          Informe a kilometragem.
        </div>
      </div>

      <!-- Placa -->
      <div class="mb-6">
        <label class="block text-gray-700 mb-2">Placa</label>
        <input formControlName="placa" type="text" (input)="sanitizePlaca()"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400" required>
        <div *ngIf="carroForm.get('placa')?.invalid && carroForm.get('placa')?.touched"
          class="text-red-500 text-sm mt-1">
          A placa é obrigatória.
        </div>
      </div>

      <!-- Botão -->
      <button type="submit" [disabled]="carroForm.invalid"
        class="w-full bg-indigo-600 hover:bg-indigo-700 text-white py-2 rounded-lg disabled:opacity-50">
        Cadastrar
      </button>
    </form>
  </div>
</div>


<app-loading [visible]="loading" message="Carregando dados..."></app-loading>